<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>캠핑장 등록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/booztstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <script>

    </script>
</head>
<body>
    <form action="/register" method="post" enctype="multipart/form-data">
        <a href="../../templates/home.html">
            <nav class="top_navbar">


                <h2>CAMPING</h2>

                <!-- class:"btn btn-outline-info" - 버튼 css -->

            </nav>
        </a>
        <span class="badge bg-dark">캠핑장명</span>
        <input type="text" class="form-control" id="name" name="name" placeholder="캠핑장명을 입력해주세요">

        <span class="badge bg-dark" id="registPage">상품 등록</span>

        <tr>
            <td>
                <select class="form-select form-select-sm" id="select_zone" name="location">
                    <option selected>서울/경기</option>
                    <option>강원도</option>
                    <option>충청도</option>
                    <option>경상도</option>
                    <option>전라도</option>
                </select>

            </td>
        </tr>

        <div id="upload_img"> </div>
        <img src="https://cdn.imweb.me/thumbnail/20211101/d88d58ae1c35d.jpg" class="img-fluid" alt="이미지 첨부">
        <div class="input-group mb-3">
            <input type="file" class="form-control" name="uploadfile" id="inputGroupFile02" accept="image/jpeg, image/png">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>

        <span class="badge bg-dark" id="address">주소</span>
        <span class="badge bg-dark" id="registPrice">가격</span>

        <form class="row g-3">


            <div class="col-12">
                <label for="inputAddress" class="form-label">주소</label>
                <input type="text" class="form-control" id="inputAddress" name="address" placeholder="주소를 입력해주세요">
            </div>

            <span class="badge bg-dark" id="registInstallation">시설</span>
            <div id="inputInstallation_box">

                <div class="input-group" id="inputInstallation">
                    <span class="input-group-text">편의시설</span>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="registSuccess">등록 완료</button>
            </div>


        </form>
        <!-- 원래 성보님 코드
        캠핑장명 : <input type="text" name="name"> <br>

        지역 :
        <select name="location"> <br>
            <option value="서울/경기">서울/경기</option>
            <option value="강원">강원</option>
            <option value="충청">충청</option>
            <option value="경상">경상</option>
            <option value="전라">전라</option>
        </select> <br>

        주소: <input type="text" name="address"> <br>

        <input type="file" name="uploadfile" multiple="multiple"> <br>

        <input type="submit" value="등록">
        -->
    </form>
</body>
</html>